<form method="post" action="/figures">
  <label for="name">Figure Name</label>
  <input type="text" id="figure_name" name="figure[name]">
<br>
<br>

  <label for="name">Titles</label>
<br>
  <% @titles.each do |title| %>
      <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>">
  <%=title.name%></input>
  <% end %>
<br>
<br>
  <label>or create a new title:</label>
  <br>
  <label>name:</label>
    <input type="text" id="new_title" name="title[name]"></input>
  <br>

<br>
  <label for="name">Landmarks</label>
<br>
  <% @landmarks.each do |landmark| %>
      <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>">
  <%=landmark.name%></input>
  <% end %>
<br>
<br>
  <label>or create a new landmark:</label>
  <br>
  <label>name:</label>
    <input type="text" id="new_landmark" name="landmark[name]"></input>

  <br>


  <input type="submit" value="Create New Figure">

</form>
